@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 50px;
    border-radius: 5px;
    border-bottom: 1px solid themed("border");
    position: sticky; // fixed
    top: 0;
    // background-color: white;
    background-color: themed("bg");
    color: themed("textColor");

    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      // img{
      //   width: 60px;
      //   height: 30px;
      //   // border-radius: ;
      //   // object-fit: cover;
      //   align-items: center;
      //   gap: 10px;
      //   font-weight: 700;
      //   zoom: 200%;

      // }
      .waviy {
        position: relative;

      }

      .waviy span {
        position: relative;
        display: inline-block;
        font-size: 1.6rem;
        color: var(--text-color-lite-purple);
        text-transform: uppercase;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i));
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
      }

      @keyframes flip {

        0%,
        80% {
          transform: rotateY(360deg)
        }
      }

      span {
        font-weight: bold;
        font-size: 30px;
        // color: red;
        color: themed("logo");
      }

      .search-box {
        display: flex;
        // align-items: center;
        width: 50px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 15px;
        overflow: hidden;
        transition: width .75s ease;
      }
      .search-icon{
        margin-top: 5px;
      }

      .search-box:hover {
        width: 400px;
      }

      @media (max-width:768px) {
        .search-box:hover {
          width: 320px;
        }
      }

      .search-box input[type="text"] {
        
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.2rem;
        width:0;

        overflow: hidden;
        transition: all .75s ease;
      }

      .search-box:hover input[type="text"] {
        width: 400px;
        padding-inline: 1.5rem;
      }

      .search-box button[type="submit"] {
        width: 75px;
        height: 100%;
        background-color: #ccc;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .search-box button[type="submit"]:hover {
        background-color: #aaa;
      }

      .search-box i {
        color: #fff;
        font-size: 1.5rem;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 10px;

      .user {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;

        img {
          width: 20px;
          height: 20px;
          border-radius: 70%;
          object-fit: cover;
          align-items: center;
          gap: 10px;
          font-weight: 500;
        }

       
      }
    }
  }
}